
*,
*:before,
*:after{
    padding: 5px;
    margin :1px;
    box-sizing: border-box;
    text: #0097b2
}
{.head-text.

    
}


{ .contact-table.



}


body{
    height:;
    background: #0097b2}
    #head-text{
        margin-top: 20%;
        margin-left: 30%;
        font-family: sans-serif;
        color: #292929; font-weight: bold; }
    
    {
        width: 40%;
            top: 30%;
            left: 50%;
            background: #0097b2;
            border-radius: 1px;
            min-width: 450px;
            position: absolute;
            min-height: 100px;
            transform: translate(-50%,-50%);
        }



        
.tasks::-webkit-scrollbar {
    width: 10px;
}
.tasks::-webkit-scrollbar-track {background:#1d4208;
    border-radius: 25px;
}
.tasks::-webkit-scrollbar-thumb {
    background:#0097b2 ;

    border-radius: 25px;
}


//styling table

#Phone-Info {
    #Phone-Info{
        margin-top: 20%;
        margin-left: 30%;
        font-family: sans-serif;
        color: #292929; font-weight: bold; }
    <style container id="Office.Info"

}









